.destination-more {
  font-family: "Poppins", sans-serif;
  color: #222;
}

/* HERO */
.dest-hero {
  position: relative;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  margin-bottom: 50px;
}

.dest-hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
   width: 100vw;
  height: 100%;
  object-fit: cover;

    /*  reduce shine */
    filter: brightness(0.85) contrast(0.95);

    /*  initial state (IMPORTANT) */
    opacity: 0;
    transform: translateY(40px);
  
    /*  slide UP animation */
    animation: slideUpFade 1.2s ease-out forwards;
}

.dest-hero-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.35);
  color: #fff;
}

.dest-hero-overlay h1 {
  font-size: 70px;
  text-shadow: 0 4px 12px rgba(0,0,0,0.6);
}

/* INTRO */
.dest-intro {
  text-align: center;
  margin-bottom: 30px;
}

.dest-intro h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.dest-intro p {
  font-size: 16px;
  color: #555;
}
.dest-cta {
  background-image: url("/images/aa-bg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dest-cta-overlay {
  padding: 50px 30px;
  text-align: center;
  color: #fff;
  max-width: 930px;
}

.dest-cta-overlay p {
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.highlight-text {
  display: inline-block;
  margin-top: 12px;
  font-weight: 700;
}

.dest-cta-overlay button {
  background: #ff8c00;
  border: none;
  padding: 14px 36px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.dest-cta-overlay button:hover {
  background: #ffa733;
  transform: translateY(-2px);
}

